body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
.name-highlight{
    color: rgb(249, 87, 0);
}
.Half-width{
        width: 40%;
        float: left;
        margin-left: 5%;
}
.Half-width img{
    width: 100%;
    margin-left: 20%;
    padding-top: 1%;
}
.Top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.Top-banner{
    height: 500px;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(226, 90, 226),rgb(208, 16, 208));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.Half-Width{
        width: 40%;
        float: right;
        margin-right: 5%;
        
}
.Half-Width img{
    width: 100%;
    margin-right: 20%;
    padding-top: 5%;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 30%;
    width: 30% 30%;
}
.experience{
    height: 40%;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full{
border-left: 7px solid ;
border-image: linear-gradient(rgb(206, 76, 76),rgb(181, 45, 35));
border-image-slice: 1;
}
#Full{
border-left: 7px solid ;
border-image: linear-gradient(rgb(101, 137, 191),rgb(13, 56, 105));
border-image-slice: 1;  
}
.Half{
    width: 30%;
    float: left;
    margin-left: 15%;
}
